services:
  nginx:
    build:
      context: ./requirements/nginx
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    restart: always

  wordpress:
    build:
      context: ./requirements/wordpress
    container_name: wordpress
    networks:
      - inception
    restart: always
    environment:
      DB_HOST: ${DB_HOST}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD_FILE: ${DB_PASSWORD_FILE}
      WP_ADMIN_USER: ${WP_ADMIN_USER}
      WP_ADMIN_PASSWORD_FILE: ${WP_ADMIN_PASSWORD_FILE}
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
      WP_TITLE: ${WP_TITLE}
      WP_URL: ${WP_URL}
    volumes:
      - wordpress_data:/var/www/html
    secrets:
      - db_password
      - db_admin_password

  mariadb:
    build:
      context: ./requirements/mariadb
    container_name: mariadb
    restart: always
    networks:
      - inception
    environment:
      MARIADB_ROOT_PASSWORD_FILE: ${DB_ROOT_PASSWORD_FILE}
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD_FILE: ${DB_PASSWORD_FILE}
    secrets:
      - db_root_password
      - db_password
    volumes:
      - mariadb_data:/var/lib/mysql

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt
  db_admin_password:
    file: ../secrets/db_admin_password.txt

volumes:
  mariadb_data:
  wordpress_data:

networks:
  inception:
    driver: bridge
